<nav>
    <ul>
    <li><a href = "{% url 'shop:allProdCat' %}">All Products</a></li>
    {% for cat in links %}
        <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
        <br>
    {% endfor %}
    <li>Your Cart</li>
    </ul>
    <form class="d-flex" action="{% url 'search_app:searchResult' %}" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>