<div class="container">
    <div class="my_custom_menu">
        <ul>
            {% if user.is_authenticated %}
            <li><button class="btn btn-success" type="submit">
                Welcome, <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">{{ user.username }}
                    <i class="fas fa-user-circle"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'order:order_history' %}" class="dropdown-item">Order History</a>
                    </div></button>
            </li>
            <li>
                <button class="btn btn-success" type="submit"><a href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a></button>
            </li>
            {% else %}
            <li>
                <button class="btn btn-success" type="submit"><a href="{% url 'signup' %}">Sign Up <i class="fas fa-user-plus"></i></a></button>
            </li>
            <li>
                <button class="btn btn-success" type="submit"><a href="{% url 'signin' %}">Sign In <i class="fas fa-sign-in-alt"></i></a></button>
            </li>
            {% endif %}
        </ul>
    </div>
</div>